@inject IConfiguration Configuration

@{ string contactName = Configuration.GetValue<string>("ContactName"); }

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
    <meta name="description" content="@ViewBag.Description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i,700" rel="stylesheet">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <noscript>
        <div class="col-xs-12 text-center text-danger">Javascript is required for some parts of this site to work properly.</div>
        <style>.js-only{display:none;}</style>
    </noscript>
    @{ await Html.RenderPartialAsync("Header", new HeaderViewModel(contactName)); }
    <div class="body-pad">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    @{ await Html.RenderPartialAsync("Footer", new FooterViewModel(contactName, Configuration)); }
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/mixitup.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    @RenderSection("Scripts", required: false)
</body>
</html>
