@model HeaderViewModel

<div id="preloader" class="js-only">
    <div class="loader"></div>
</div>

<header class="header-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="logo">
                    <a asp-action="Index" asp-controller="Home">
                        <h2 class="site-logo">@Model.ContactName</h2>
                    </a>
                </div>
            </div>
            <div class="col-lg-8 col-md-8">
                @{ await Html.RenderPartialAsync("CallToAction", new CallToActionViewModel(isHeader: true)); }
                <nav class="main-menu">
                    <ul>
                        <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                        <li><a asp-action="Contact" asp-controller="Home">Contact</a></li>
                        @if (Model.IsResumeAvailable)
                        {
                            <li><a asp-action="TryGetLatestResume" asp-controller="Home">Resume</a></li>
                        }
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="nav-switch">
        <i class="fa fa-bars"></i>
    </div>
</header>