@model IntroStatementViewModel

<section class="intro-section">
    <div class="container text-center">
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                <h2 class="section-title">I’m a <span>@Model.JobTitle</span>,<br />with +@Model.YearsExperience years of experience</h2>
            </div>
        </div>
    </div>
</section>